{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/loginstyles.css' %}">
    <title>Admin Dashboard</title>
    <script type="text/javascript"></script>
</head>

<body>
    <form action="" method="post">
        {% csrf_token %}
        <div class="outer">

            <div class="sidebar">
                <!-- <p style="color: white; margin-left: 20px;">Hello,  {{user.username}}</p> -->

                <!-- <a href="registerStudents">Register Student</a> -->
                <a href="updateProfile?value={{user.username}}">Update Students Profile</a>
                <div style="padding-top: 250px;"><a href="logout">Logout</a></div>
            </div>
            <div class="in-main">
                <div style="position: relative; text-align: center;">
                    <h1><u>Update Student Profile</u></h1>
                </div>
                <div style="margin: auto; width: 50%; display: flex;  text-align:center; height: 350px;">
                    <div class="inner-div1">

                        <label for="">Name</label><br><br>
                        <label for="">Contact</label><br><br>
                        <label for="">Email</label><br><br>
                        <label for="">Username</label><br><br>
                        <label for="">Password</label><br><br>
                    </div>
                    <div class="inner-div2">
                        {% for student in students %}
                        <input type="text" name="name" id="name" value="{{student.Name}}"><br><br>
                        <input type="number" name="contact" id="contact" value="{{student.Contact}}"><br><br>
                        <input type="email" name="email" id="email" value="{{student.Email}}"><br><br>
                        <input type="text" name="uname" id="uname" value="{{student.Username}}"><br><br>
                        <input type="password" name="password" id="password"><br><br>
                        {% endfor %}
                    </div>

                </div>
                {% for message in messages %}
                {{ message}}
                {% endfor %}
                <div><b style="color: red;" id="error"></b><br></div>
                <button type="submit" class="btn1" onclick='return check()'>Update Student</button>
            </div>

        </div>
    </form>

    <script>
        function check() {
            Name = document.getElementById('name').value
            Contact = document.getElementById('contact').value
            Email = document.getElementById('email').value
            Uname = document.getElementById('uname').value
            Password = document.getElementById('password').value
            Confirm_password = document.getElementById('confirm_password').value

            // Error = document.getElementById('error')
            if (Name == "") {
                document.getElementById('error').innerHTML = "Please enter the Name !"
                return true
            } else if (Contact == "") {
                document.getElementById('error').innerHTML = "Please enter the Contact !"
            } else if (Email == "") {
                document.getElementById('error').innerHTML = "Please enter the Email !"
            } else if (Uname == "") {
                document.getElementById('error').innerHTML = "Please enter the Username !"
            } else if (Password == "") {
                document.getElementById('error').innerHTML = "Please enter the Password !"
            } else if (Password != Confirm_password) {
                document.getElementById('error').innerHTML = "Password and Confirm Password Not Same !"
            } else {
                document.getElementById('error').innerHTML = " "
                return true
            }


        }
    </script>

    <script type="text/javascript">
        function preventBack() {
            window.history.forward();
        }

        setTimeout("preventBack()", 0);

        window.onunload = function () { null };
    </script>


</body>

</html>